name: Build and push to docker hub

on:
  push:
    branches: [main]
    paths:
      - 'apps/strapi/**'
      - './github/workflows/deploy-main-strapi.yml'
  workflow_dispatch:

jobs:
  build_and_push:
    name: Build and push strapi image to dockerhub
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./apps/strapi/Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/strapi-template:latest
